@import url('https://fonts.cdnfonts.com/css/uber-move-text');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Uber Move Text', sans-serif;
}

li{
    list-style-type: none;
    margin-left: 0.5em;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 1em;
}
a:hover{
    background-color: grey;
    padding: 3px;
    border-radius: 15px;
}

.uberlogo{
    color: white;    
    margin-right: 2em;
    align-content: center;
    
                                                
}

.login{
    color: white;
}

.signup{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

header{
    background-color: black;
    height: 50px;
    
}

.header-container{
    width: 95%;
    font-family: 'Uber Move Text', sans-serif;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.nav-link{
    display: flex;
    width: 20%;
}
.mainnav{
    display: flex;
    font-family: 'Uber Move Text', sans-serif;
    
}

.ridewithuber{
    background-color: black;
    height: 700px;
    color: white;
    position: relative;
    
}
.ridetext{
    float: left;
    width: 50%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size:x-large;
    position: relative;
    top: 225px;
    
    
}

.rideimg{
    height: 680px;
    padding-top: 40px;
}

.clicktoride{
    height: 80%;
}

.ridenav , .drivenav{
    display: flex;   
}
.rwu{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 15px;

}
.dwu{
    color: white;
    background-color: rgba(82, 67, 67, 0.249);
    padding: 10px;
    border-radius: 15px;
}

.secondpage{
    position: relative;
    height: 700px;
}
.driveimg{
    float: left;
    width: 500px;
    padding: 30px 30px 30px 50px;

}
.drivetext{
    float: right;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size:x-large;
    height: 70vh;
    padding-top: 200px;
}
.getstart{
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
}
.drivesignin{
    color: black;
}
.drivesignin:hover{
    text-decoration: underline;
}

.thirdpage{
    position: relative;
    height: 600px;
    
}
.booktext{
    float: left;
    text-align: center;
    padding-left: 300px;
    padding-top: 200px;
    font-size: x-large;

}

.bookimg{
    float: right;
    height: 550px;
    width: 600px;
    padding-right: 100px;
}

input{
    padding: 15px opx;
    border: 1px solid ;
    border-radius: 4px;
    height: 40px;
    width: 300px;
}
button{
    height: 40px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: 15px;
}
footer{
    background-color: black;
    height: 750px;
}
.helpcentre{
    color: white;
    height: 250px;
    padding-left: 100px;
    padding-top: 100px;
}
.footercolumn{
    height: 350px;
    padding-left: 200px;
}
.fcolumn{
    float: left;
    width: 25%;
}
.fhtag{
    color: white;
    padding-left: 25px;

}
.ful{
    padding-top: 25px;
    
}
.fli{
    padding-top: 15px;
}

.sociallink{
    height: 50px;
}
.socialconnect{
    float: left;
    padding-left: 150px;
}
#sconn{
    padding-left: 80px;
}
.proper{
    float: right;
}
.properul{
    padding-right: 150px;
    display: flex;
}
h5{
    color: white;
}
.copyright{
    padding-left: 200px;
    
}
.termsul{
    float: right;
    display: flex;
    padding-right: 150px;
}
